:root {
  --text-color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


/*============================================================================*/
/*=============================== FLASH MESSAGE ==============================*/
.flash-alert {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
}

.alert-danger {
  color: #d50000;
  background-color: #ff5252;
}

.alert-warning {
  color: #ffa000;
  background-color: #ffe082;
}

.alert-success {
  color: #00c853;
  background-color: #69f0ae;
}

